{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-console": "warn",
    "max-classes-per-file": "off",
    "import/extensions": "off",
    "no-nested-ternary": "off"
  }
}
